<!DOCTYPE html>
<html lang="pl" layout:decorator="layout/base"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex" />
</head>

<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-md-4 mt-3" th:each="image : ${images}">
            <div class="card">
                <img class="card-img-top img-fluid" th:src="@{|/thumbs/${image.filename}|}" alt="Card image cap" />
                <div class="card-block">

                    <p class="card-text" th:text="'Link: /files/' + ${image.id}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" type="submit" class="btn btn-primary btn-sm">Delete</a>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted" th:text="'Uploaded at:' + ${image.dateCreated}">Last updated 3 mins ago
                </small>
            </div>

        </div>
    </div>



</section>


</body>
</html>


